body {
    font-family: 'Arial', sans-serif;
    background-color: #f4a8c1;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('ivi.png');
    background-size: cover; /* Ajusta a imagem para cobrir o contêiner */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

h1 {
    color: #fff;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #f4a8c1;
    transition: background-color 0.3s, color 0.3s;
}

.card.flipped {
    background-color: #f4a8c1;
    color: #fff;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #f4a8c1;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e08aab;
}
